body {
  background-color: #faebd7;
  font-family: "Philosopher", sans-serif;
}

.header {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.header__logo {
  position: absolute;
  left: 50%;

  transform: translateX(-50%);
}

.header__button {
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;

  background-color: inherit;
  color: #686868;
  font-family: inherit;

  border: 1px solid #686868;
  border-radius: 30%;
}

.navigation__list {
  margin: 0;
  padding: 0;

  list-style: none;

  display: flex;
}

.navigation__item {
  margin-right: 15px;
}

.navigation__item a {
  text-decoration: none;
  color: #686868;
}

.header__container {
  margin-right: auto;

  display: flex;
}

.header__search {
  margin-left: auto;
}
